*{
box-sizing: border-box;
}

body{
    
        background: linear-gradient(rgb(80, 161, 26), rgb(176, 212, 14), rgb(29, 158, 233));
     

}

/* Header */

.codeheader{

    background: black;
    color: white;
    padding: 10px 10px;
    margin: 0 auto;
    width: 100%;
    text-align: center;
    
    
    
}

header{
    width: 100%;
    border-radius: 10%;
   
    
}
.topline{
    height: 10px;
    margin: 20px auto;
    border-top: 4px solid #2457c4;
    border-bottom: 2px solid #2457c4;
    border-left: 0;
    border-right: 0;
    
}
.bottomline{
    height: 10px;
    margin: 20px auto;
    border: 2px solid #2457c4;
    border-left: 0;
    border-right: 0;
}

header h2
 {
text-align: center;
padding-top: 30px;
width:85%;
margin: 0 auto;

}

button:hover {
background-color: turquoise;
cursor: pointer;
}

button:active{
    background-color: gold;
}

header p{
    text-align: center;
    margin: 0 auto;
    padding: 10px 0 30px;
    width: 85%;   
}

input[type="text"],
input[type="email"],
input[type="tel"],
select[id="state"],
textarea,
select {
  background: rgba(255,255,255,0.1);
  border: none;
  font-size: 15px;
  height: 50%;
  padding: 15px;
  width: 100%;
  background-color: #e8eeef;
  color: #8a97a0;
  box-shadow: 0 1px 0 rgba(0,0,0,0.03) inset;
  margin-bottom: 50px;
  border-radius: 5%;
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="tel"]:focus,
select[id="state"]:focus,
textarea:focus,
select:focus{
background-color: indianred;

}
/* Contact Information */

.wrap{
    background-color: #a39d9d;
    width: 70%;
    margin: 5px auto;
    padding: 10px;
    border-radius: 10px;
    margin-bottom: 30px;
}

fieldset{
    border: none;
    
   
}

label {
    font-size: 1.2em;
    padding-right: 20px;
    width: 25%;
  }

::placeholder {
    text-align: right;
    font-style: italic;
    color: #244fc4;
  }

input[type="checkbox"],
input[type="radio"]
{
    margin-bottom: 10px;
    
}

.splice{
    padding-top: 10px;
    padding-bottom: 5px;
    margin-bottom: 5px;
    

}

input[type="submit"]{
    width:100%;
    height: 50px;
    margin: 0 auto;
    background: #3acec2;
    color:white;
    font-weight: bold;
    font-size: 16px;
    padding: 15px;
    
}

#zip-code{
    display: block;
    width: 50%;
}
/* Footer */

footer{
 margin: 0 auto;
 width: 100%;
 
}
.copyright{
    width: 100%;
    margin: 0 auto;
    text-align: center;
    margin: 10px 0 50px;  

}

.clearfix::after {
    content: '';
    display: table;
    clear: both;
  }


@media(min-width: 768px){
     .copyright,
    .codeheader{
        margin: 0 auto;
        width: 90%;
        text-align: center;
    }


    .form{
        max-width:60%;
        margin: 0 auto;
        

    }
    .form-1{
max-width: 60%;
margin: 0 auto;

    }

    .newsletter{
        text-align: left;
        max-height: 500px;
        margin-right: auto;
        padding-bottom: 50px;
        
       
        }

        .align{

            align-items: flex-start;
        }


    input[type="text"],
input[type="email"],
input[type="tel"]{
    flex: 1;
    justify-content: flex-end;
    margin-left: auto;
    max-width: 600px;
    align-items: center;
    width: 60%;
}
input[type="submit"]{
 width:60%;
 margin: 0 auto;
 text-align: center;
 margin-left: 20%;
 }

 input[type="radio"],
 input[type="checkbox"]{
    padding: 10px 10px;
    margin: 10px 10px;

 }

 .col{
display: flex;

 }

.flex{
display: flex;
flex-direction: column;
margin-right: auto;

}

#comment{
max-height: 30%;
}


}